.teste {
    text-align: center!important;
    justify-content: center!important;
    width: 50vw!important;
    display: table-cell;
}

.modal-content{
    align-items: center;
}

.modal-header{
    flex-direction: column-reverse;
}

@media(max-width: 570px){
    .modal-header .btn- {
        margin-left:75vmin!important;
    }
}

@media(min-width: 571px){
    .modal-header .btn-close {
        margin-left:200%!important;
    }
}