.container{
    border: 1px solid rgba(0,0,0,.2)!important;
    border-radius: 25px !important;
    box-shadow: 0 0px 20px rgba(0,0,0,.2);
    width: 350px!important;
    display: block!important;
    text-align: center!important;
    justify-content: center!important;
    background-color: white !important;
}

.botao{
    margin-bottom: 15px;
    background-color: #4169E1!important;
    margin-right: 10px;
}

.botao:hover{
    background-color: white!important;
    color: #4169e1!important;
}

tbody {
    overflow-y: auto!important;
    overflow-x: scroll!important;
}

a{
    padding: 1.2px;
    border-radius: 5px!important;
}

.noWrap{
    white-space: nowrap;
}

#mainPage{
    display: block;
    overflow-x: auto;
    margin-right: 19px;
}